<div id="title">
  <h1>{{myself.name}}</h1>
  <ul>
    <li *ngFor="let c of myself.linkedContacts">{{c.appName}}: <a href="{{c.appUrl}}">{{c.appId}}</a></li>
    <li *ngFor="let c of myself.simpleContacts">{{c.appName}}: {{c.appId}}</li>
  </ul>
</div>
