#languageBar
{
  font-size: 14px;
}
  .languageButton
  {
    width: auto;
    height: 20px;
    margin-right:10px;
    cursor: pointer;
    padding: 3px;
    border-radius: 10px;
  }


.selectedLanguage
{
  background-color: #004f00;
}
