.navigation
{
  margin-top:10px;
  background-color: rgba(0, 0, 0, 0.5);
  height:40px;
  padding-top:5px;
  border-radius: 10px;
  position: relative;
}

  .navigation .navigationButton
  {
    color: white;
    background-color: transparent;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    alignment: center;
    margin-left: 3px;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    font-family: "Big Shoulders Display ExtraBold", serif;
  }

    .navigation .navigationButton:last-child
    {
      border: none;
    }
    .navigation .navigationButton:hover, .topMenuDropdown .topMenuDropdownButton:hover
    {
      background:linear-gradient(180deg, #2b007b, #000000);
    }

.topMenuDropdown
{
  visibility: hidden;
  background-color: rgb(0, 0, 0);
  margin-bottom: 10px;
  overflow: auto;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  position: absolute;
}

#projectsDropdown
{
  margin-left: 150px;
  width: 110px;
}

#aboutmeDropdown
{
  margin-left: 55px;
  width: 115px;
}

.topMenuDropdown .topMenuDropdownButton
{
  background-color: transparent;
  color:white;
  padding:5px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
  float: left;
  max-width: 100px;
  border: none;
}

