/* You can add global styles to this file, and also import other style files */
body
{
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: white;
  font-family: Arvo, serif;
}

a
{
  color:lightblue;
}

a:visited
{
  color: #ff5e00;
}

#content
{
  margin-left: 10px;
  text-align: justify;
  z-index: 1;
}

  #content a, #content p
  {
    font-size:18px;
  }

  h1, h2
  {
    text-align: center;
  }
